.container {
	margin: 5px;
	background-color: #ffffff;
	color: #000000;
	border-radius: 500px;
	padding: 5px 18px;
	font-size: 14px;
	font-weight: 600;

	&:hover {
		scale: 103%;
		background-color: #f9f9f9;
	}
	&:active {
		scale: 100%;
	}
}
